*
{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.flex
{
    align-items: center;
    display: flex;
    justify-content: center;
}

body
{
    background-color: rgba(245, 245, 245, 0.8);
    height: 100vh;
    width: 100%;
}

.container
{
    margin: 0 auto;
    max-width: 1200px;
}

.card
{
    background-color: white;
    border-radius: 10px;
    box-shadow: inset 0 0 15px black;
    height: 380px;
    width: 650px;
}

h2
{
    font-size: 1.6rem;
    padding-top: 10px;
    text-align: center;
    text-shadow: 5px 5px 10px black;
}

.div
{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

#ID
{
    border-bottom: 1.5px solid grey;
    border-left: none;
    border-right: none;
    border-top: none;
    height: 35px;
    margin-top: 30px;
    width: 80%;
    outline: none;
    transition: all 0.3s ease-in-out;
    font-size: 1rem;
    padding-left: 15px;
}

#ID::placeholder
{
    font-size: 1rem;
}

#ID:focus::placeholder
{
    color: green;
}

#ID:focus
{
    border-bottom: 1.5px solid green;
}

#name
{
    border-bottom: 1.5px solid grey;
    border-left: none;
    border-right: none;
    border-top: none;
    height: 35px;
    width: 80%;
    outline: none;
    transition: all 0.3s ease-in-out;
    font-size: 1rem;
    padding-left: 15px;
}

#name::placeholder
{
    font-size: 1rem;
}

#name:focus::placeholder
{
    color: green;
}

#name:focus
{
    border-bottom: 1.5px solid green;
}

#job
{
    padding-left: 15px;
    border-bottom: 1.5px solid grey;
    border-left: none;
    border-right: none;
    border-top: none;
    height: 35px;
    width: 80%;
    outline: none;
    transition: all 0.3s ease-in-out;
    font-size: 1rem;
}

#job::placeholder
{
    font-size: 1rem;
}

#job:focus::placeholder
{
    color: green;
}

#job:focus
{
    border-bottom: 1.5px solid green;
}

.button1
{
    margin-left: 65px;
    background-color: rgb(70, 212, 70);
    border: 1px solid black;
    cursor: pointer;
    height: 40px;
    margin-top: 50px;
    width: 80%;
    font-size: 1rem;
    transition: all 0.5s ease-in-out;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.button1:hover
{
    background-color: rgb(21, 203, 21);
    color: white;
}

.button2
{
    background-color: rgba(56, 56, 231, 0.844);
    border: 1px solid black;
    cursor: pointer;
    height: 40px;
    margin-top: 15px;
    width: 80%;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.5s ease-in-out;
    margin-left: 65px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.button2:hover
{
    background-color: rgba(15, 15, 223, 0.842);
    color: white;
}

.flex2
{
    display: flex;
    flex-direction: column;
}

.hidden
{
    display: none;
}

.close-modal
{
    position: absolute;
    top: -2rem;
    right: -0.2rem;
    font-size: 3rem;
    column-rule: #333;
    cursor: pointer;
    border: none;
    background: none;
    transform: translate(-50%, 50%);
}

.modal
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: wheat;
    padding: 2.5rem;
    border-radius: 8px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    z-index: 0;
}