 @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", serif;
}
a{
    text-decoration: none;
}
ul li{
    list-style-type: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.navbar{
    height: 80px;
}
.flex{
    display: flex;
    padding: 20px;
}

.flex a{
    margin-left: 0;
}

.flex .a3{
    margin-right: 0;
}

.flex a{
    font-size: 2rem;
    color: #BBBBBB;
    font-weight: 700;
}

.flex .a3 i{
    font-size: 2rem;
    color: green;
    font-weight: 400;
}

.flex .a3 i:hover{
    color: blue;
}
.flex .a3 i:active{
    color: red;
}
main section img{
    width: 100%;
    height: 100vh;
    position: relative;
}
main section .div2 {
    position: absolute;
    top: 150px;
    left: 120px;
}
main section .div2 h1{
    font-size: 6rem;
    font-weight: 400;
    color: white;
    letter-spacing: 1.5px;
}
main section .div2 h1 b{
    letter-spacing: 1.5px;
}
main section .div2 p{
    color: white;
    letter-spacing: 1px;
    line-height: 1.5;
    font-weight: 600;
}
main section .div2 button{
    margin-top: 50px;
    padding: 10px 30px;
    color: white;
    background-color: #E34F1A;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.5px;
    cursor: pointer;
    border: none;
}
main section .div2 button:hover{
    background-color: #d34512;
    color: rgb(249, 229, 229);
}
main section div .freepik{
    color: white;
    position: absolute;
    top: 660px;
    left: 120px;
}
main section div .freepik a{
    color: white;
    text-decoration: underline;
}
main section div .freepik a:hover{
    color: red;
    font-size: 1rem;
    font-weight: 700;
}
main .section1 .div3{
    margin-top: -3.5px;
    height: 150px;
    background-color: rgb(253,113,89);
}
main .section1 .div3 p{
    font-size: 14px;
    text-align: center;
    justify-content: center;
    padding: 55px;
    color: white;
}
footer div{
    height: 100px;
    background-color: rgb(51,51,51);
}
footer div p{
    font-weight: 600;
    font-size: 13px;
    padding-top: 45px;
    justify-content: center;
    text-align: center;
    color: white;
}
footer div p a{
    color: #A1E5F4;
    text-decoration: underline;
}
footer div p a:hover{
    color: #BBBBBB;
    text-decoration: none;
}
 